body{
    background-image: url(./imagenes/empanadas-saltenas\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}
.hdos {text-align: center;
text-decoration:underline;
color:#054e48}
h1 {color:cadetblue;
    font-size: 50px;
    text-decoration: underline ;
text-align: center;
margin:auto;
height: auto;}
p{text-align: center;
color: beige;}
ul{ text-align:center;}
li{text-align: center;
color:floralwhite;}
.hdos_b{text-align:center;
    text-decoration:underline;
    color: #054e48;
    }
.ul_a {text-align: center;}
.img_uno{ text-align: center;
border:10px solid white;

}
h2 {
    font-size: 35px;
}

.encabezado {
    background-color: #78e;
    background: linear-gradient(#5ec9c0, rgb(192, 197, 199));
    padding: 10px;
    list-style-type:none; 
    font-size: 30px;
}
.redsocial a{
    display:inline-block;
    text-decoration:none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    margin-right: 10px;
    background-color: #78e;
    text-align: center;
    transition: all 300ms ease;
    padding: 2px;
    
}
.redsocial2 {
    padding: 15px 10px;
    text-align:center;
    color: aliceblue;
}
.recetas {
    list-style-type: none;
    font-size: 20px;
}
.imgg {
    text-align: center;
}
.mapa {
    text-align: center;
   color: #78e;
   text-decoration: underline ;
}

.container-boton{
    background-color:rgb(39, 129, 39);
    border: 1px solid beige;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 25px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.boton{
    width: 50px;
    transition: ease 1s;
}

.menu {
    display: flex;
    justify-content: space-around;
    
}
.header {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    flex-wrap: wrap;  
    align-items: center;
}
.h4 {
    color:cadetblue;
    text-align: center;
    font-size: 30px;
}
.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    flex-wrap: wrap;  
    align-items: center;

}
.empanadaa {
    text-align: center;
    color: aliceblue;
    font-size: 15px;
}
